@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #f3e8ff, #ffffff, #fae8ff);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  color: #1f2937;
}

.card {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);

  border-radius: 24px;
  padding: 24px;

  box-shadow: 0 4px 15px rgba(0,0,0,0.08);

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.btn-primary {
  background: #9333ea;
  color: white;

  border: none;
  padding: 12px 24px;

  border-radius: 14px;

  cursor: pointer;

  transition: 0.3s;
}

.btn-primary:hover {
  background: #7e22ce;
}

.lesson-image {
  width: 260px;

  display: block;
  margin: auto;

  border-radius: 20px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
 
